<md-toolbar>
	<div class="md-toolbar-tools customToolbar">
		<md-button class="md-icon-button" ng-href="#/" aria-label="Home">
			&nbsp;
			<i class="fa fa-home"></i>
			&nbsp
		</md-button>
		<h2><span>{{constants.appName}}</span></h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-href="#/download" aria-label="download">
			&nbsp;
			<i class="fa fa-download"></i>
			&nbsp
		</md-button>
		<md-button class="md-icon-button" ng-href="#/settings" aria-label="settings">
			&nbsp;
			<i class="fa fa-gear"></i>
			&nbsp
		</md-button>
	</div>
</md-toolbar>
